@charset "utf-8";
body{
		background-color: #20F49B;
		color:red;
		font-size:16px;
                text-align:center;
	}
	h3,h4{
		font-family:华文楷体,楷体,宋体；
	}
	h1{
		font-size: 20px;
                text-align:center;
font-family:方正姚体,黑体,宋体;
font-weight;
	}
	h2{
		font-size: 16px;
font-family:黑体;
color:#099;
	}
	p{
		font-family: 华文楷体,楷体,宋体;
		text-indent: 2em;
                text-align:center;
line-height:2em;
	}
        .nav{
background-color:#9F0;
margin-left:15%;
margin-right:15%;
text-align:center;
font-size: 18px;
        }
        .copyright{
text-align:center;
margin-down:10px;
        }
        div.sjx{
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-top: 5px solid #2794EF;
        }
	p.begin{color:black;text-decoration:underline;}
        p.begina{font-size:24px;text-align:center;}
        p.begina a{color:black;texe-decoration:none;}
        .strong{font-weight;color:orange;}
        #p2{font-style;}
        div.container{
                width:80%;
                margin-top:0;
                margin-bottom:auto;
                padding-top:5px;
                padding-bottom:20px;
                color:F5F5F5;
                min-height:700px;
               }
        ul.wxlb{
	height:30px;
        line-height:30px;
        list-style:disc outside;
        list-style:decimal inside;
        border:1px solid #CCC;
}

ul.works li{
	margin:3px;
	height:40px;
	width:40px;
	background-image:url(../images/bg.png);
	background-color:#000000;
	list-style-type:none;
	float:left;
}
ul.works{
    clear:both;
}
div.works{
	clear:both;
	width:100%;
	margin:0px;
	height:50px;
	padding:8px;
}
li.icon1{background-position:0px -40px;}
li.icon2{background-position:0px -80px;}
li.icon3{background-position:0px -120px;}
li.icon4{background-position:0px -160px;}
li.icon5{background-position:0px -200px;}










